body{
    margin:0;
    background-color: #feffde;
    
}
h1{
    margin: 0;
    font-family: 'Pacifico', cursive;
    
}


h2{
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;
}
h3{
    margin-right: auto;
    margin-left: auto;
}

hr{
 border: dotted greenyellow;
 border-bottom: none;
 width: 4%;
}

p{
    margin: 10px auto;
}
.middle-container{
    text-align: center;
    margin:0;
    
    
}
.bottom-container{
    text-align: center;
    margin: 0;
    background-color: #91c788;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
img{
    width: 15%;
    
}
.webdev{
    width: 15%;
    float :right;
    margin-left: 30px;
    

}
.coding{
    width: 25%;
    
    float:left;
    margin-right: 30px;
}

.contact-me{
  background-color: #ddffbc;
  padding: 0;
  
}

a{
    margin: 10px 10px;
    padding-top: 10px;
}

.btn{
    background: #F63D3D;
    background-image: -webkit-linear-gradient(top, #F63D3D, #811616);
    background-image: -moz-linear-gradient(top, #F63D3D, #811616);
    background-image: -ms-linear-gradient(top, #F63D3D, #811616);
    background-image: -o-linear-gradient(top, #F63D3D, #811616);
    background-image: linear-gradient(to bottom, #F63D3D, #811616);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    height: 14px;
    line-height: 14px;
    color: #FFFFFF;
    font-family: Open Sans;
    width: 185px;
    font-size: 20px;
    font-weight: 900;
    padding: 12px;
    box-shadow: 1px 1px 6px 0px #000000;
    -webkit-box-shadow: 1px 1px 6px 0px #000000;
    -moz-box-shadow: 1px 1px 6px 0px #000000;
    text-shadow: 1px 1px 6px #8d2b2b;
    border: solid #762C2C 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
    
.btn:hover{
    border-color: solid #ED3333 1px;
    enable-background: #811616;
    background-image: -webkit-linear-gradient(top, #811616, #F63D3D);
}